<template>
	<form
		v-if="!active"
		class="form-style"
		@submit.prevent="submitHandler"
	>
		<h1>Start Quiz Setup</h1>
		<hr />
		<div >
			<label for="numberOfQuestions" >
				Select Total number of questions :
			</label>
			<input
				value="10"
				type="number"
				required
				@input="numberHandler"
		/>
		</div>
		<br>
		<div>
			<label for="categories">
				Select Category :
			</label>
			<select name="category" @change="changeHandler" class="form-select" >
				<option selected value="0">Any</option>
				<option
					v-for="category in categories"
					:value="category.id"
					:key="category.id"
					>{{ category.name }}</option
				>
			</select>
		</div>
		<br>

		<div >
			<label for="difficulty" >
				Select Difficulty :
			</label>
			<select name="difficulty" @change="changeHandler" >
				<option value="0">Any</option>
				<option value="easy">Easy</option>
				<option value="medium">Medium</option>
				<option value="hard">Hard</option>
			</select>
		</div><br>

		<div>
			<label for="type">
				Select Type :
			</label>
			<select name="type" @change="changeHandler">
				<option value="0">Any</option>
				<option value="multiple">MCQ</option>
				<option value="boolean">True / False</option>
			</select>
		</div>
		<br>
		<div>
			<button>Start Quiz</button>
		</div>

		<p  v-if="error">{{ error }}</p>
	</form>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
	name: 'Start',
	data() {
		return {
			options: {
				numbers: '10',
				category: '0',
				difficulty: '0',
				type: '0',
			},
		};
	},
	computed: {
		...mapState(['error', 'active','categories', ]),
	},
	methods: {
		...mapActions(['fetchCategories', 'fetchQuestions']),
		...mapMutations(['setCategories', 'setOptions', 'setActive']),
		numberHandler(e) {
			this.options.numbers = e.target.value;
		},
		changeHandler(e) {
			this.options[e.srcElement.name] = e.target.value;
		},
		submitHandler() {
			this.setOptions(this.options);
			this.fetchQuestions(this.$router);
		},
	},
	created() {
		this.fetchCategories();
		if (this.active) {
			this.$router.push('/question');
		}
	},
};
</script>

<style>

.form-style{
  background-color: rgb(73, 73, 66);
  padding: 200px;
}



</style>
