<template>
    <div>
        <label for="categories" class="form-label">
            Choose Category
        </label>
        <select name="category" @change="changeHandler">
            <option selected value="0">Any</option>
            <option v-for="category in categories"
                :value="category.id"
                :key="category.id"
                >{{ category.name }}</option
            >
        </select>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
