<template>
	<div v-if="questions" class="final-page">
		<h1>You have done your Game!</h1>
		<p >
		Your Score <span class="fw-bold points">{{ score }}</span> out of
		<span class="fw-bold points">{{ questions.length * 10 }}</span>
		</p>

		<div >
			<button @click="newQuiz"  style="margin-right:15px">
			Try a new game
			</button>
			<button  @click="resetQuiz">
			Reset game with similar options
			</button>
		</div>
		<hr />
		<ResultQuestion
			v-for="(question, index) in questions"
			:key="index"
			:question="question"
			:userAnswer="userAnswers[index]"
		/>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import ResultQuestion from './ResultQuestion.vue';

export default {
	
	name: 'Result',
	components: {
		ResultQuestion,
	},
	computed: {
		...mapState([
			'active',
			'correctAnswers',
			'questions',
			'userAnswers',
			'score',
		]),
	},
	methods: {
		...mapActions(['fetchQuestions']),
		...mapMutations(['setActive', 'setStep', 'setScore']),
		newQuiz() {
			this.setActive(false);
			this.$router.push('/start');
		},
		resetQuiz() {
			this.fetchQuestions(this.$router);
		},
	},
	created() {
		if (this.active) {
			this.$router.push('/question');
		}
		if (!this.questions) {
			this.$router.push('/start');
		}
	},
};
</script>

<style scoped>
.result-response {
	font-size: 20px;
}

.points {
	font-size: 30px;
}

</style>
