<template>
	<div>
		<h3>{{ decodeURIComponent(question.question) }}</h3>
		<p>Correct Answer: {{ decodeURIComponent(question.correct_answer) }}</p>
		<p>Your Answer: {{ decodeURIComponent(userAnswer) }}</p>
	</div>
</template>

<script>
export default {
	name: 'ResultQuestion',
	props: {
		question: {
			type: Object,
			required: true,
		},
		userAnswer: {
			type: String,
			
		},
	},
};
</script>

<style></style>
