<template>
	<section>
		<div>
			<div>
				<p>Subject: {{ decodeURIComponent(question.category) }}</p>
				<span >
				Difficulty Type: {{ decodeURIComponent(question.difficulty) }}
				</span>
			</div>
			<p>QuestionLength: {{ step + 1 }} / {{ questionsLength }}</p>
		</div>
		<div >
			<h2>{{ decodeURIComponent(question.question) }}</h2>
		</div>
		
	</section>
</template>

<script>
export default {
	name: 'QuestionTitle',
	
	props: {
		question: {
			type: Object,
			required: true,
		},
		step: {
			type: Number,
			required: true,
		},
		questionsLength: {
			type: Number,
			required: true,
		},
	},
	updated() {
		switch (this.question.difficulty) {
			case 'easy':
			break;

			case 'medium':
			break;

			case 'hard':
			break;

			default:
			break;
		}
	},
	created() {
		switch (this.question.difficulty) {
			case 'easy':
			break;

			case 'medium':
			break;

			case 'hard':
			break;

			default:
			break;
		}
	},
};
</script>

<style></style>
