<template>
    <div>
        <div v-if="getCurrentQuestion"
        >
             <QuestionTitle
                :question="getCurrentQuestion"
                :step="step"
                :questionsLength="questions.length"/>
            <div class="answers" :class="toggleData">
                <QuestionAnswer
                    v-for="(answer, index) in getCurrentAnswers"
                    :key="index"
                    :answer="answer"
                    :correctAnswer="getCurrentQuestion.correct_answer"
                    :questionsLength="questions.length"
                    @toggleBtns="toggleBtns"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
import QuestionTitle from "./QuestionTitle.vue";
import QuestionAnswer from "./QuestionAnswer.vue";

export default {
    name: "Question",
    components: {
        QuestionTitle,
        QuestionAnswer,
    },
    data() {
        return {
            toggleData: "",
        };
    },
    props: ["question"],
    computed: {
        ...mapState(["step", "currQuestion", "questions"]),
        ...mapGetters(["getCurrentQuestion", "getCurrentAnswers"]),
    },
    methods: {
        ...mapMutations(["setStep", "setScore"]),
        toggleBtns(toggleData) {
            this.toggleData = toggleData;
        },
    },
    created() {
        if (!this.getCurrentQuestion) {
            this.$router.push("/start");
        }
    },
};
</script>

<style>

.question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answers {
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: 2fr 2fr;
}



</style>
